{% extends 'base.html' %}
{% block content %}

<h2>Meeting Title: {{ meetdetail_list.meetingtitle }}</h2>
<p>Meeting Date: {{ meetdetail_list.meetingdate }}</p>
<p>Meeting Time: {{ meetdetail_list.meetingtime }}</p>
<p>Meeting Location: {{ meetdetail_list.meetinglocation }}</p>
<p>Meeting Agenda: {{ meetdetail_list.meetingagenda }}</p>

<!-- <p>Number of Reviews: {{ reviewcount }}</p>
<h3>Reviews</h3>
{% for r in reviews %}
  <h4>{{ r.reviewtitle }}</h4>
  <p>{{ r.reviewdate }}</p>
  <p>{{ r.reviewrating }}</p>
  <p> {{ r.reviewtext }}</p> 
{% endfor %} -->

{% endblock %}